ServerTester/ServerTester/Service References/ServiceReference4/SalesServer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SalesServer" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:39698/SalesServer.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:39698/SalesServer.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:39698/SalesServer.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SaleDomains" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISalesServer_GetNextVenta_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNextVenta" />
  </wsdl:message>
  <wsdl:message name="ISalesServer_GetNextVenta_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNextVentaResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesServer_CreateDominio_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateDominio" />
  </wsdl:message>
  <wsdl:message name="ISalesServer_CreateDominio_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateDominioResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesServer_GetNextComprobante_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNextComprobante" />
  </wsdl:message>
  <wsdl:message name="ISalesServer_GetNextComprobante_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNextComprobanteResponse" />
  </wsdl:message>
  <wsdl:portType name="ISalesServer">
    <wsdl:operation name="GetNextVenta">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesServer/GetNextVenta" message="tns:ISalesServer_GetNextVenta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesServer/GetNextVentaResponse" message="tns:ISalesServer_GetNextVenta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateDominio">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesServer/CreateDominio" message="tns:ISalesServer_CreateDominio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesServer/CreateDominioResponse" message="tns:ISalesServer_CreateDominio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNextComprobante">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesServer/GetNextComprobante" message="tns:ISalesServer_GetNextComprobante_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesServer/GetNextComprobanteResponse" message="tns:ISalesServer_GetNextComprobante_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISalesServer" type="tns:ISalesServer">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetNextVenta">
      <soap:operation soapAction="http://tempuri.org/ISalesServer/GetNextVenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateDominio">
      <soap:operation soapAction="http://tempuri.org/ISalesServer/CreateDominio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNextComprobante">
      <soap:operation soapAction="http://tempuri.org/ISalesServer/GetNextComprobante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SalesServer">
    <wsdl:port name="BasicHttpBinding_ISalesServer" binding="tns:BasicHttpBinding_ISalesServer">
      <soap:address location="http://localhost:39698/SalesServer.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>