ServerTester/ServerTester/Service References/ServiceReference4/SalesServer2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:39698/SalesServer.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SaleDomains" />
  <xs:element name="GetNextVenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nameDominio" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextVentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNextVentaResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDominio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nameDominio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parteFija" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDominioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateDominioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextComprobante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nameDominio" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SaleDomains" minOccurs="0" name="tipo" type="q1:TipoComprobante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextComprobanteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNextComprobanteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>