ServerTester/ServerTester/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FacturacionServer" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SaleDomainsServer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFacturacionServer_GetNoFactura_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNoFactura" />
  </wsdl:message>
  <wsdl:message name="IFacturacionServer_GetNoFactura_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNoFacturaResponse" />
  </wsdl:message>
  <wsdl:message name="IFacturacionServer_CreateDominio_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateDominio" />
  </wsdl:message>
  <wsdl:message name="IFacturacionServer_CreateDominio_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateDominioResponse" />
  </wsdl:message>
  <wsdl:message name="IFacturacionServer_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IFacturacionServer_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IFacturacionServer_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IFacturacionServer_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IFacturacionServer">
    <wsdl:operation name="GetNoFactura">
      <wsdl:input wsaw:Action="http://tempuri.org/IFacturacionServer/GetNoFactura" message="tns:IFacturacionServer_GetNoFactura_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFacturacionServer/GetNoFacturaResponse" message="tns:IFacturacionServer_GetNoFactura_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateDominio">
      <wsdl:input wsaw:Action="http://tempuri.org/IFacturacionServer/CreateDominio" message="tns:IFacturacionServer_CreateDominio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFacturacionServer/CreateDominioResponse" message="tns:IFacturacionServer_CreateDominio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IFacturacionServer/GetData" message="tns:IFacturacionServer_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFacturacionServer/GetDataResponse" message="tns:IFacturacionServer_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IFacturacionServer/GetDataUsingDataContract" message="tns:IFacturacionServer_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFacturacionServer/GetDataUsingDataContractResponse" message="tns:IFacturacionServer_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFacturacionServer" type="tns:IFacturacionServer">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetNoFactura">
      <soap:operation soapAction="http://tempuri.org/IFacturacionServer/GetNoFactura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateDominio">
      <soap:operation soapAction="http://tempuri.org/IFacturacionServer/CreateDominio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IFacturacionServer/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IFacturacionServer/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FacturacionServer">
    <wsdl:port name="BasicHttpBinding_IFacturacionServer" binding="tns:BasicHttpBinding_IFacturacionServer">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/SaleDomainsServer/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>