ServerTester/ServerTester/Service References/ServiceReference5/SalesServer1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SalesServer" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8796/SalesServer.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8796/SalesServer.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8796/SalesServer.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SaleDomains" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISalesServer_GetDomain_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDomain" />
  </wsdl:message>
  <wsdl:message name="ISalesServer_GetDomain_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDomainResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesServer_GetNextVenta_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNextVenta" />
  </wsdl:message>
  <wsdl:message name="ISalesServer_GetNextVenta_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNextVentaResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesServer_SetNextVenta_InputMessage">
    <wsdl:part name="parameters" element="tns:SetNextVenta" />
  </wsdl:message>
  <wsdl:message name="ISalesServer_SetNextVenta_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetNextVentaResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesServer_GetNextCompra_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNextCompra" />
  </wsdl:message>
  <wsdl:message name="ISalesServer_GetNextCompra_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNextCompraResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesServer_SetNextCompra_InputMessage">
    <wsdl:part name="parameters" element="tns:SetNextCompra" />
  </wsdl:message>
  <wsdl:message name="ISalesServer_SetNextCompra_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetNextCompraResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesServer_GetNextPedido_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNextPedido" />
  </wsdl:message>
  <wsdl:message name="ISalesServer_GetNextPedido_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNextPedidoResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesServer_SetNextPedido_InputMessage">
    <wsdl:part name="parameters" element="tns:SetNextPedido" />
  </wsdl:message>
  <wsdl:message name="ISalesServer_SetNextPedido_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetNextPedidoResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesServer_GetNextOrden_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNextOrden" />
  </wsdl:message>
  <wsdl:message name="ISalesServer_GetNextOrden_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNextOrdenResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesServer_SetNextOrden_InputMessage">
    <wsdl:part name="parameters" element="tns:SetNextOrden" />
  </wsdl:message>
  <wsdl:message name="ISalesServer_SetNextOrden_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetNextOrdenResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesServer_GetNextPago_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNextPago" />
  </wsdl:message>
  <wsdl:message name="ISalesServer_GetNextPago_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNextPagoResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesServer_SetNextPago_InputMessage">
    <wsdl:part name="parameters" element="tns:SetNextPago" />
  </wsdl:message>
  <wsdl:message name="ISalesServer_SetNextPago_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetNextPagoResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesServer_GetNextCobro_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNextCobro" />
  </wsdl:message>
  <wsdl:message name="ISalesServer_GetNextCobro_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNextCobroResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesServer_SetNextCobro_InputMessage">
    <wsdl:part name="parameters" element="tns:SetNextCobro" />
  </wsdl:message>
  <wsdl:message name="ISalesServer_SetNextCobro_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetNextCobroResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesServer_CreateDominio_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateDominio" />
  </wsdl:message>
  <wsdl:message name="ISalesServer_CreateDominio_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateDominioResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesServer_GetNextComprobante_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNextComprobante" />
  </wsdl:message>
  <wsdl:message name="ISalesServer_GetNextComprobante_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNextComprobanteResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesServer_SetNextComprobante_InputMessage">
    <wsdl:part name="parameters" element="tns:SetNextComprobante" />
  </wsdl:message>
  <wsdl:message name="ISalesServer_SetNextComprobante_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetNextComprobanteResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesServer_SetTopeComprobante_InputMessage">
    <wsdl:part name="parameters" element="tns:SetTopeComprobante" />
  </wsdl:message>
  <wsdl:message name="ISalesServer_SetTopeComprobante_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetTopeComprobanteResponse" />
  </wsdl:message>
  <wsdl:portType name="ISalesServer">
    <wsdl:operation name="GetDomain">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesServer/GetDomain" message="tns:ISalesServer_GetDomain_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesServer/GetDomainResponse" message="tns:ISalesServer_GetDomain_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNextVenta">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesServer/GetNextVenta" message="tns:ISalesServer_GetNextVenta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesServer/GetNextVentaResponse" message="tns:ISalesServer_GetNextVenta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetNextVenta">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesServer/SetNextVenta" message="tns:ISalesServer_SetNextVenta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesServer/SetNextVentaResponse" message="tns:ISalesServer_SetNextVenta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNextCompra">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesServer/GetNextCompra" message="tns:ISalesServer_GetNextCompra_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesServer/GetNextCompraResponse" message="tns:ISalesServer_GetNextCompra_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetNextCompra">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesServer/SetNextCompra" message="tns:ISalesServer_SetNextCompra_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesServer/SetNextCompraResponse" message="tns:ISalesServer_SetNextCompra_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNextPedido">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesServer/GetNextPedido" message="tns:ISalesServer_GetNextPedido_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesServer/GetNextPedidoResponse" message="tns:ISalesServer_GetNextPedido_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetNextPedido">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesServer/SetNextPedido" message="tns:ISalesServer_SetNextPedido_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesServer/SetNextPedidoResponse" message="tns:ISalesServer_SetNextPedido_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNextOrden">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesServer/GetNextOrden" message="tns:ISalesServer_GetNextOrden_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesServer/GetNextOrdenResponse" message="tns:ISalesServer_GetNextOrden_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetNextOrden">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesServer/SetNextOrden" message="tns:ISalesServer_SetNextOrden_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesServer/SetNextOrdenResponse" message="tns:ISalesServer_SetNextOrden_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNextPago">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesServer/GetNextPago" message="tns:ISalesServer_GetNextPago_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesServer/GetNextPagoResponse" message="tns:ISalesServer_GetNextPago_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetNextPago">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesServer/SetNextPago" message="tns:ISalesServer_SetNextPago_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesServer/SetNextPagoResponse" message="tns:ISalesServer_SetNextPago_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNextCobro">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesServer/GetNextCobro" message="tns:ISalesServer_GetNextCobro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesServer/GetNextCobroResponse" message="tns:ISalesServer_GetNextCobro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetNextCobro">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesServer/SetNextCobro" message="tns:ISalesServer_SetNextCobro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesServer/SetNextCobroResponse" message="tns:ISalesServer_SetNextCobro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateDominio">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesServer/CreateDominio" message="tns:ISalesServer_CreateDominio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesServer/CreateDominioResponse" message="tns:ISalesServer_CreateDominio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNextComprobante">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesServer/GetNextComprobante" message="tns:ISalesServer_GetNextComprobante_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesServer/GetNextComprobanteResponse" message="tns:ISalesServer_GetNextComprobante_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetNextComprobante">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesServer/SetNextComprobante" message="tns:ISalesServer_SetNextComprobante_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesServer/SetNextComprobanteResponse" message="tns:ISalesServer_SetNextComprobante_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetTopeComprobante">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesServer/SetTopeComprobante" message="tns:ISalesServer_SetTopeComprobante_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesServer/SetTopeComprobanteResponse" message="tns:ISalesServer_SetTopeComprobante_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISalesServer" type="tns:ISalesServer">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDomain">
      <soap:operation soapAction="http://tempuri.org/ISalesServer/GetDomain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNextVenta">
      <soap:operation soapAction="http://tempuri.org/ISalesServer/GetNextVenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetNextVenta">
      <soap:operation soapAction="http://tempuri.org/ISalesServer/SetNextVenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNextCompra">
      <soap:operation soapAction="http://tempuri.org/ISalesServer/GetNextCompra" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetNextCompra">
      <soap:operation soapAction="http://tempuri.org/ISalesServer/SetNextCompra" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNextPedido">
      <soap:operation soapAction="http://tempuri.org/ISalesServer/GetNextPedido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetNextPedido">
      <soap:operation soapAction="http://tempuri.org/ISalesServer/SetNextPedido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNextOrden">
      <soap:operation soapAction="http://tempuri.org/ISalesServer/GetNextOrden" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetNextOrden">
      <soap:operation soapAction="http://tempuri.org/ISalesServer/SetNextOrden" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNextPago">
      <soap:operation soapAction="http://tempuri.org/ISalesServer/GetNextPago" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetNextPago">
      <soap:operation soapAction="http://tempuri.org/ISalesServer/SetNextPago" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNextCobro">
      <soap:operation soapAction="http://tempuri.org/ISalesServer/GetNextCobro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetNextCobro">
      <soap:operation soapAction="http://tempuri.org/ISalesServer/SetNextCobro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateDominio">
      <soap:operation soapAction="http://tempuri.org/ISalesServer/CreateDominio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNextComprobante">
      <soap:operation soapAction="http://tempuri.org/ISalesServer/GetNextComprobante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetNextComprobante">
      <soap:operation soapAction="http://tempuri.org/ISalesServer/SetNextComprobante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetTopeComprobante">
      <soap:operation soapAction="http://tempuri.org/ISalesServer/SetTopeComprobante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SalesServer">
    <wsdl:port name="BasicHttpBinding_ISalesServer" binding="tns:BasicHttpBinding_ISalesServer">
      <soap:address location="http://localhost:8796/SalesServer.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>