ServerTester/ServerTester/Service References/ServiceReference5/SalesServer32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8796/SalesServer.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SaleDomains" />
  <xs:element name="GetDomain">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nameDominio" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDomainResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SaleDomains" minOccurs="0" name="GetDomainResult" nillable="true" type="q1:DominioVenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextVenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nameDominio" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextVentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNextVentaResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetNextVenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nameDominio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="next" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetNextVentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetNextVentaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextCompra">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nameDominio" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextCompraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNextCompraResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetNextCompra">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nameDominio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="next" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetNextCompraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetNextCompraResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextPedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nameDominio" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextPedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNextPedidoResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetNextPedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nameDominio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="next" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetNextPedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetNextPedidoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextOrden">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nameDominio" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextOrdenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNextOrdenResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetNextOrden">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nameDominio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="next" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetNextOrdenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetNextOrdenResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextPago">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nameDominio" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextPagoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNextPagoResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetNextPago">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nameDominio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="next" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetNextPagoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetNextPagoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextCobro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nameDominio" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextCobroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNextCobroResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetNextCobro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nameDominio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="next" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetNextCobroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetNextCobroResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDominio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nameDominio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parteFija" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDominioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateDominioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextComprobante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nameDominio" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SaleDomains" minOccurs="0" name="tipo" type="q2:TipoComprobante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextComprobanteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNextComprobanteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetNextComprobante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nameDominio" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SaleDomains" minOccurs="0" name="tipo" type="q3:TipoComprobante" />
        <xs:element minOccurs="0" name="next" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetNextComprobanteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetNextComprobanteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTopeComprobante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nameDominio" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SaleDomains" minOccurs="0" name="tipo" type="q4:TipoComprobante" />
        <xs:element minOccurs="0" name="top" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTopeComprobanteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetTopeComprobanteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>