ServerTester/ServerTester/Service References/ServiceReference5/SalesServer31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SaleDomains" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SaleDomains" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8796/SalesServer.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="DominioVenta">
    <xs:sequence>
      <xs:element minOccurs="0" name="CobroActual" type="xs:long" />
      <xs:element minOccurs="0" name="CompraActual" type="xs:long" />
      <xs:element minOccurs="0" name="ConsumidorFinalActual" type="xs:long" />
      <xs:element minOccurs="0" name="CreditoFiscalActual" type="xs:long" />
      <xs:element minOccurs="0" name="GastosMenoresActual" type="xs:long" />
      <xs:element minOccurs="0" name="GubernamentalActual" type="xs:long" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NotaCreditoActual" type="xs:long" />
      <xs:element minOccurs="0" name="NotaDebitoActual" type="xs:long" />
      <xs:element minOccurs="0" name="OrdenActual" type="xs:long" />
      <xs:element minOccurs="0" name="PagoActual" type="xs:long" />
      <xs:element minOccurs="0" name="ParteFijaComprobantes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PedidoActual" type="xs:long" />
      <xs:element minOccurs="0" name="ProveedorInformalActual" type="xs:long" />
      <xs:element minOccurs="0" name="RegimenEspecialActual" type="xs:long" />
      <xs:element minOccurs="0" name="RegistroUnicoIngresoActual" type="xs:long" />
      <xs:element minOccurs="0" name="TopeConsumidorFinal" type="xs:long" />
      <xs:element minOccurs="0" name="TopeCreditoFiscal" type="xs:long" />
      <xs:element minOccurs="0" name="TopeGastosMenores" type="xs:long" />
      <xs:element minOccurs="0" name="TopeGubernamental" type="xs:long" />
      <xs:element minOccurs="0" name="TopeNotaCredito" type="xs:long" />
      <xs:element minOccurs="0" name="TopeNotaDebito" type="xs:long" />
      <xs:element minOccurs="0" name="TopeProveedorInformal" type="xs:long" />
      <xs:element minOccurs="0" name="TopeRegimenEspecial" type="xs:long" />
      <xs:element minOccurs="0" name="TopeRegistroUnicoIngreso" type="xs:long" />
      <xs:element minOccurs="0" name="VentaActual" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DominioVenta" nillable="true" type="tns:DominioVenta" />
  <xs:simpleType name="TipoComprobante">
    <xs:annotation>
      <xs:appinfo>
        <ActualType Name="unsignedByte" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="CreditoFiscal">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ConsumidorFinal">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NotaDebito">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NotaCredito">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ProveedorInformal">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">11</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="UnicoIngreso">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">12</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="GastosMenores">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">13</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RegimenEspecial">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">14</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Gubernamental">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">15</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoComprobante" nillable="true" type="tns:TipoComprobante" />
</xs:schema>